* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html {
  background-color: rgb(0, 0, 17);
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: "poppins", sans-serif;
}
section {
  margin: 0;
  padding: 0;
  height: auto;
  min-height: 100vh;
}

.background {
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;

  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 60%,
    rgba(0, 0, 0, 0) 100%
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 60%,
    rgba(0, 0, 0, 0) 100%
  );
  top: 0;
  left: 0;

  overflow: hidden;
  z-index: 1;

  transition: opacity 0.2s ease-out;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  position: relative;
  background-color: #f0f0f000; /* Transparent background (this allows background image/color to show through) */
  z-index: 1;
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
  overflow: visible;
}

.w-full.h-full.relative {
  padding: 0 !important;
}

header {
  position: fixed; /* Makes the header stick to the top */
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1200px;

  background-color: #33333300; /* Dark background */
  color: white;
  will-change: transform; /* Improves performance */
  z-index: 1000;
  padding: 10px 0; /* Adds some space around the header */
}

/* Container for logo and navigation */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: auto;
  margin: 0 auto;
  padding: 0 20px;
}

/* Logo */
.logo img {
  width: 100px;
  height: auto;
  filter: invert(1);

  transition: transform 1s ease-in-out, filter 1s ease-in;
  transform: scale(1);
}
.logo:hover {
  transform: scale(1.05); /* Scale the logo on hover */
}

/* Navigation links */
.nav-links {
  display: flex;
  gap: 20px; /* Adds space between links */
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #3498db; /* Change color on hover */
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100vw;
  text-align: center;
  padding: 0 20px;
}

.intro-text {
  position: absolute;
  display: flex;
  justify-content: center; /* Centrer horizontalement */
  align-items: center; /* Centrer verticalement */
  height: 20vh; /* Utiliser toute la hauteur de la fenêtre */
  text-align: center;
  width: 100%;
  color: white;
  mix-blend-mode: exclusion;

  transition: color 0.5s ease-in-out;
  z-index: 2;
}

.scroll-arrow-container {
  position: absolute;
  bottom: 50px; /* Adjust this value to position the arrow above the scroll-guide element */
  left: 50%;

  z-index: 2;
  width: 30px; /* Arrow width */
  height: 30px; /* Arrow height */
}

/* Arrow styling */
.scroll-arrow {
  width: 20px;
  height: 20px;
  border-left: 3px solid white; /* Left border of the triangle */
  border-bottom: 3px solid white; /* Bottom border of the triangle */
  transform: rotate(45deg); /* Rotate to make the arrow */
  animation: bounce 1.5s infinite; /* Add bounce animation */
}

/* Keyframes for the bounce animation */
@keyframes bounce {
  0%, 100% { transform: translateY(0) rotate(-45deg); }
  50% { transform: translateY(-8px) rotate(-45deg); } 
}

.typewriter {
  display: flex;
  justify-content: center; /* Center text horizontally */
  align-items: center; /* Center text vertically */
  flex-direction: column; /* Stack elements vertically */
  position: relative;
  font-size: 95px;
  font-family: "Vollkorn", serif;
}

.typewriter p {
  font-size: 25px;
  margin-top: 25px;
  font-family: "poppins", sans-serif;
}
.typewriter span {
  position: relative; /* Use Flexbox */
  display: inline-block;
}

.typewriter span::before {
  content: "David";
  color: white;
  animation: words 20s infinite;
  
}

.typewriter span::after {
  content: "";
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  background-color: rgb(0, 0, 0);
  border-left: 2px solid white;
  right: -8px;
  animation: cursor 0.75s step-end infinite, typing 20s steps(8) infinite;
  
  color: white;
}

.background-typewriter {
  position: absolute;
  top: auto;
  left: 50%;
  transform: translate(
    -50%,
    -40%
  ); 
  width: auto;
  color: rgba(255, 255, 255, 0);
  font-size: 175px;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  z-index: 2;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  align-items: center;
}

/* The typing effect */
@keyframes typing {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 8px);
  }
}

/* The typewriter cursor effect */
@keyframes cursor {
  50% {
    border-color: transparent; /* Make the cursor invisible */
  }
}



.about-container {
  display: flex;
  flex-direction: column; /* Centrer tout le contenu verticalement */
  justify-content: center; /* Centrer verticalement */
  align-items: center; /* Centrer horizontalement */
  height: 100vh; /* Utiliser toute la hauteur de la fenêtre */
  padding: 20px;
  width: 100%;
}

.about-container h2 {
  position: relative;
  font-size: clamp(200px, 100vw, 250px);
  margin-bottom: 20px;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
  color: rgba(255, 255, 255, 0);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(148, 148, 148);
  
  top: 15%;
  opacity: 0;
  animation: fadeIn 1s ease-out forwards;
  animation-delay: 0.3s;
}

.image-container {
  width: 100%;
  max-width: 800px;
  height: auto;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-container img {
  width: 100%;
  height: 75%;
  object-position: center top;
  object-fit: cover;
  border-radius: 20px;
  max-width: 100%;
  will-change: transform;
}

.presentation {
  display: flex;
  align-items: center;
  justify-content: center;
  /* Le texte et l'image seront alignés à gauche */
  gap: 25px ; /* Ajouter un espace entre l'image et le texte */
  width: 100%;
  max-width: 1200px; /* Limiter la largeur maximale pour garder un design responsive */
  
  padding: 20px;
  z-index: 10;
}

.presentation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text p {
  display: flex;
  flex-direction: column;
  font-size: auto;
  font-family: "poppins", sans-serif;
  color: rgb(214, 214, 214);
  text-align: left;
  height: auto;
  max-width: 100%;
  margin-right: 20px;
}
.accroche {
  color: white;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

.about-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 40px;
  margin-top: 40px;
  z-index: 10;
}

.about-buttons button{
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color:  #e6f5ff00;
  color: white;
  font-family: "poppins", sans-serif;
  font-size: 15px;
  padding: 12px 20px;
  width: 100%;
  border: white solid 0.5px;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.about-buttons button:hover {
  background-color: #f3faff7a;
  color: white;
  border: white solid 1px;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.projects-container {
  display: flex;
  flex-direction: column; /* Centrer tout le contenu verticalement */
  justify-content: center; /* Centrer verticalement */
  align-items: center; /* Centrer horizontalement */
  height: 100vh; /* Utiliser toute la hauteur de la fenêtre */
  padding: 20px;
  width: 100%;
}

.projects-container h2 {
  position: relative;
  font-size: clamp(200px, 100vw, 250px);
  margin-bottom: 20px;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
  color: rgba(255, 255, 255, 0);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(148, 148, 148);
  
  
  opacity: 0;
  animation: fadeIn 1s ease-out forwards; 
  animation-delay: 0.3s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px); 
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  opacity: 0;
  transform: translateY(20px); 
  will-change: opacity, transform;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}


@media (max-width: 600px) {
  
  body {
    font-size: 14px; /* Réduis légèrement pour mobile */
    overflow-y: auto;
  }
  .container {
    width: 100%;
    padding: 0 10px; /* Réduis le padding pour gagner de la place */
  }
  .typewriter {
    font-size: clamp(70px, 8vw, 70px); /* Réduis la taille pour mobile */
  }
  .typewriter p {
    font-size: clamp(20px, 2.5vw, 20px); /* Ajuste aussi le texte en dessous */
  }
  .background-typewriter {
    font-size: clamp(100px, 8vw, 100px); /* Réduis la taille du texte en fond */
  }
  .about-container {
    flex-direction: column;
  }
  .about-container h2,
  .projects-container h2 {
    font-size: clamp(100px, 12vw, 100px); /* Réduis la taille du titre */
  }
  
  .presentation {
    flex-direction: column; /* Passe en colonne sur mobile */
    gap: 5px; /* Réduis l’espace entre éléments */
  }
  .text p {
    text-align: justify;
  }
  .image-container img {
    
    max-width: 300px; /* Limite la taille max */
  }
  .header-container {
    padding: 0 10px; /* Réduis le padding */
  }
  .nav-links {
    gap: 10px; /* Réduis l’espace entre les liens */
  }
  .logo img {
    width: 70px; /* Réduis la taille du logo */
  }
}