/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

/* Le conteneur des lignes */
.lines-container {
  position: fixed; /* Fixe les lignes dans le fond */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex; /* Flexbox pour une répartition égale */
  justify-content: space-between; /* Répartition égale des lignes */
   /* Derrière le contenu principal */
}

/* Propriétés des lignes */
.line {
  width: 2px; /* Largeur de la ligne */
  height: 100%; /* Hauteur à 100% pour couvrir tout l'écran */
  background: rgba(145, 145, 145, 0.8); /* Couleur de la ligne */
  transition: transform 0.3s ease, background-color 0.3s ease; /* Transition fluide */
  transform-origin: center; /* Transformation à partir du centre */
  pointer-events: auto; /* Permet l'interaction */
}

/* Les zones interactives qui réagissent au survol */
.interactive-area {
  position: absolute; /* Position absolue pour garantir l'alignement */
  width: 12px; /* La même largeur que les lignes */
  height: 100%; /* Hauteur de la ligne */
  background-color: rgba(0, 0, 255, 0); /* Zone visible de survol (transparente) */
  pointer-events: auto; /* Permet l'interaction */
  top: 0; /* Commence au début de l'écran */
}

.content {
  position: relative;
  z-index: 1;
  padding: 20px;
  text-align: center;
}

h1, p {
  color: #000;
}
